$light-colors: (
  primary: hsl(216, 15%, 13%),
  secondary: hsl(0, 0%, 92%),
  thirdry: hsl(169, 90%, 8%),
  bg: rgba(137, 140, 154, 0.349),
);

@mixin create-color-variables($colors) {
  @each $name, $color in $colors {
    #{'--' + $name + '-darker'}: scale-color($color, $lightness: -10%);
    #{'--' + $name + '-dark'}: scale-color($color, $lightness: -5%);
    #{'--' + $name}: scale-color($color, $lightness: 0%);
    #{'--' + $name + '-light'}: scale-color($color, $lightness: 5%);
    #{'--' + $name + '-lighter'}: scale-color($color, $lightness: 10%);
  }
}

body {
  box-sizing: border-box;
  font-size: 20px;
  margin: 0;
  padding: 0;
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 1px 6px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.03);
  --aside-with: 350px;

  @media screen and (max-width: 1400px) {
    --aside-with: 300px;
  }
  @media screen and (max-width: 1200px) {
    --aside-with: 250px;
  }
  @media screen and (max-width: 1200px) {
    font-size: 16px;
  }
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 1rem;
  ::selection {
    background-color: var(--secondary-lighter);
    color: var(--primary-darker);
  }
}

html,
html[theme='light'] {
  @include create-color-variables($light-colors);
}

a {
  color: var(--primary-darkest);
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  background-color: black;
}
body::-webkit-scrollbar {
  width: 0;
}
.custom-scroll {
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 4px;
  }
  &::-webkit-scrollbar {
    width: 4px;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--secondary-lighter);
    border-radius: 2px;
  }
}
